/*
Ctrl + Shift + i
!important
*/

/* 변수 선언 */
	:root {
		--none-color: rgb(255 255 255 / 0%);
		--server-bar: 24;
		--calc-server-bar: calc(1px * var(--server-bar));

		--columns: 2;
		--guildgap: 3;
		--aligndms: 1;
	}
/*
var(변수명);
var(--main-color);
var(--back-color);
var(--none-color);
48. 60.
var(--server-bar);
var(--calc-server-bar);
18. 48.
var(--guildsize);
*/

/* BD */
  [class*="toasts-"] {
      display: none;
  }
  #bd-loading-icon {
      display: none;
  }
    /* > 홈 BD 서버 */
        #bd-pub-button,
        #bd-pub-button:hover {
            color: var(--none-color);
        }
	/* 이미지 파일 정보 */
		[class*="messageAttachment-"] {
			width: auto;
		}
		[class*="altText-"] {
			margin: 0;
		}

/* 디스코드 */
    [class*="expandedFolderIconWrapper-"] path {
        color: #4f545c;
    }
    [class*="reaction-"][class*="reactionMe-"] {
        border-color: #4f545c;
    }

/* 메시지 입력 */
    [class*="barBase-"],
    [class*="channelTextArea-"] {
        max-width: 1000px;
    }
    /* > 메시지 수정하기 */
        [class*="contents-"] [class*="channelTextArea-"] {
            max-width: 944px;
        }
    /* > 니트로 선물 버튼 제거 */
        [aria-label*="선물 보내기"] {
            display: none;
        }

/* 디스코드 홈, 니트로 버튼 */
    [aria-posinset="2"] {
        display: none;
    }
    /* > 친구 */
        [class*="peopleListItem-"] {
            width: 45%;
            height: 124px !important;
            float: left;
            margin: 0 2.5%;
            border: 0px;
        }
        [class*="text-"] {
            white-space: normal;
            text-overflow:initial;
            /* overflow: initial; */
		min-width: 30px;
        }
        [class*="peopleListItem-"]:is(
        [class*="active-"],
        :hover) {
            background: none;
            margin: 0 2.5%;
            padding: 0;
            border-top: 1px solid var(--background-modifier-accent);
            border-bottom: 1px solid var(--background-modifier-accent);
            border-radius: 0;
        }
        [class*="userInfo-"] {
            max-width: 70%;
        }
        [class*="px-"] :is(
        [class*="botTagVerified-"],
        [class*="botText-"]) {
            height: 10px;
            line-height: 10px;
        }
		/* > 현재 활동 중 */
		[class*="nowPlayingColumn-"] {
			min-width: 420px;
		}

/* 서버 사이드바 */
    /* > 종합 */
        [class*=wrapper-] > ul [class*=listItem-] {
            margin: 0 0 5px;
        }
	[aria-label="서버"] [class*=listItem-],
	[aria-label="Servers"] [class*=listItem-] {
		width: 24px;
		padding: 0 6px;
	}
	[class*=listItem-],
	[class*=tutorialContainer-]
	[class*=wrapper-] [class*=scroller-] [style*=height] {
	    max-width: 100%;
	    float: left;
	}
	[class*="pill-"] [class*="wrapper-"] {
		height: var(--calc-server-bar);
	}
	[class*="guilds-"] [class*="scrollerBase-"] > [style*="height: 56px;"] {
		height: var(--calc-server-bar) !important;
}
/*
	[class*="wrapper-"] [class*="wrapper-"] {
	    height: unset !important;
	    margin: 0 2px;
	}
*/
    [class*=listItem-] {
	    margin-bottom: 2px;
	}
    /* > 폴더 */
	[aria-label="서버 사이드바"] [class*="svg-"],
	[class*="listItemWrapper-"] > [class*="wrapper-"],
	div > [draggable="true"] > [class*="wrapper-"] {
	    width: var(--calc-server-bar);
	    height: var(--calc-server-bar);
	}
	[class*="listItem-"] [class*="pill-"] {
	    height: var(--calc-server-bar);
	}
	[class*=expandedFolderBackground-] {
	    width: var(--calc-server-bar);
	    background-color: #fff0;
	}
	[class*="folderIconWrapper-"] {
	    background-color: transparent !important;
	}
    /* > 폴더 내 */
	[id*="folder-items-"] {
	    height: unset !important;
	}
    /* > 폴더 외 */
	/* guild & button */
	[class*="wrapper-"] :is(
		#bd-pub-li,
		#bd-pub-li #bd-pub-button,
		#sort-button,
		#sort-button > div
		) {
		height: calc(1px * ((var(--server-bar)/5) + 10));
	}
	[class*="wrapper-"] :is(
		#bd-pub-li,
		#sort-button
		) {
		width: calc(
			1px * (
				(var(--server-bar)*4/5) + 12 * var(--server-bar)/50)
		);
	}
	[class*="wrapper-"] :is(
		#bd-pub-li,
		#sort-button
		) {
		text-align: center;
		margin: calc(1px * var(--guildgap)) calc(1px * (((
		var(--server-bar) + 12 * var(--server-bar)/50) * (
		    var(--columns) - 1) - ((
					var(--server-bar)*4/5
					) + 12 * var(--server-bar)/50) + var(--server-bar))/2)) 
		calc(1px * var(--guildgap)) calc(1px * (((
		    var(--server-bar) + 12 * var(--server-bar)/50) * (
					var(--columns) - 1) - ((
			var(--server-bar)*4/5) + 12 * var(--server-bar)/50) + 
		    var(--server-bar))/2)
		) !important;
	}
	html [class*=typingindicator-] {
		right: 3px !important;
		top: calc(var(--server-bar) * 1px - 5px) !important;
		bottom: unset !important;
	}

/* 서버 */
	/* 종합 */
		[class*="sidebar-"] [class*="header-"] {
			padding: 8px;
		}
		[class*="sidebar-"] [class*="header-"],
		[class*="searchBar-"],
		[class*="chat-"] > [class*="title-"] {
			max-height: 40px;
		}

    /* > 채널 */
	[class*="container-"] > [class*="scroller-"] > [class*="content-"] {
		padding: 8px 0 0 0 !important;
        }
	[class*="containerDefault-"],
	[class*="containerDefault-"] [class*="iconItem-"],
	[class*="containerDragAfter-"],
	[class*="containerDragBefore-"],
	[class*="containerUserOver-"],
	[class*="mainContent-"] {
		padding: 0 !important;
        }
	[class*=content-] > [style*="height: 16px"] {
		display: none;
	}
		/* >> 스크롤 숨기기 */
			div#channels::-webkit-scrollbar {
				display: none;
			}
        /* >> 채팅 채널 */
            :is(
            [class*="modeConnected-"],
            [class*="modeConnected-"]:hover,
            [class*="modeSelected-"],
            [class*="modeSelected-"]:hover,
            [class*="modeUnread-"],
            [class*="modeUnread-"]:hover,
            [class*="notInteractive-"]:is(
            [class*="modeConnected-"],
            [class*="modeSelected-"])) .name-23GUGE {
                color: var(--channels-default);
            }
        /* >> 음성 채널 */
            [class*="liveSmall-"] {
                width: 10px;
                font-size: 0px;
            }
    /* > 멤버 목록 */
        [class*="membersWrap-"] [class*="members-"] {
            width: 525px;
        }
        [class*="member-"] {
            max-width: 500px;
        }
        /* >> 멤버 정보 */
            [class*="userPopout-"] {
                width: 500px !important;
            }
        /* >> 역할 구분 */
            [class*="membersGroup-"] {
                padding: 8px 8px 0 16px;
                height: 24px;
            }
		/* >> 하는 중 */
		.UserDetails-activity-container img {
			border-radius: 100%;
		}

/* 고정 메시지 */
[class*="messagesPopoutWrap-"] {
    width: 600px;
}

/* 검색 */
	[class*="searchResultsWrap-"] {
	    width: 520px;
	}
	/* 뒤로가기 및 다음 문구 제거 */
		[class*="contents-"][class*="endButtonInner-"] > span {
			display: none;
		}

/* 메시지 보내기 하단 문구 제거 */
	[class*="applicationCommandEducationFadeIn-"] {
	    display: none;
	}
/* 이모티콘 */
	/* > 종합 */
		img[class*="pngImage-"][class*="stickerAsset-"],
		.emoji.jumboable {
			border-radius: 5px;
		}
    /* > 이모티콘 선택 */
		[role="dialog"],
		[class*="emojiPicker-"],
		[class*="drawerSizingWrapper-"] {
			width: 800px !important;
			/*height: 1000px !important;*/
		}
    /* > 이모티콘 표시 */
		.emoji.jumboable {
			width: 5rem;
			height: 5rem;
		}
/* 반응 */
	[class*="reaction-"] .emoji {
		width: 3rem;
		height: 3rem;
	}
    /* > 반응했어요 툴팁 */
        [class*="reactionTooltipText-"] {
            margin: 0 12px;
        }
/* 설정 */
	/* 버튼 효과 */
		[class*="buttonShine-"] {
			display: none;
		}

/* 사용자 설정 */
    /* > 사이드바 */
        nav[class*="sidebar-"] [class*="item-"] {
             line-height: 7px;
        }
        nav[class*="sidebar-"] [class*="flex-"] {
            height: 7px;
        }
        nav[class*="sidebar-"] {
            padding: 20px 0px 20px 20px;
        }
    /* > 계정 제거 기능  */
        [class*="children-"] [class*="buttonContainer-"] {
            display: none;
        }
    /* > 구독 아이콘 숨기기 */
        .icon-Zc-uZZ {
            display: none;
        }
    /* > 디스코드 소셜 링크 숨기기 */
        [class*="socialLinks-"] {
            display: none;
        }
    /* > 버전 정보 숨기기 */
        [class*="sidebar-"] [class*="info-"] {
             display: none;
        }

/* 팝업 */
    div[id*="popout_"] {
        left: calc(1px * (
            var(--server-bar) * var(--columns)
            + 12 * var(--columns)
            + 240
            )) !important;
        right: auto !important;
    }
    /* > 미니 팝업 */
        [class*="layer-"] [class*="userPopout-"],
        [class*="popoutBanner-"] {
            min-width: 500px !important;
        }
        /* >> 연결 버튼 */
            [class*="connectedAccount-"] {
                width: 100%;
            }
		[class*="connectedAccountsColumn-"] {
		  width: 45%;
		}
		[class*="connectedAccountContainer-"] {
		  width: 100%;
		}

	/* >> 이름 태그 */
		[class*="topSection-"] [class*="nameTag-"] {
			margin-top: 60px;
		}
	/* 팝업 */
		[class*="focusLock-"] [class*="small-"] {
			width: 600px;
		}
			
/* 서버 부스트 바 */
	[class*=goalTextContainer],
	[class*=progressFraction] {
	    display: none;
	}
	[class*=sidebar-] [class*=textArea] {
	    height: 8px;
	    margin: 0px;
	}

/* 음성채널 역할 아이콘 */
	.draggable-2E_4tJ .ownerIcon-2NH9FM {
	    margin: 0;
	    display: none;
	}

/* 스레드 들여쓰기 숨김 */
	[class*=spine-] {
		display: none;
	}

/* 임베드 미리보기 재조정 */
/*
	[class*="embedVideoImageComponent-"],
	[class*="embedVideoImageComponentInner-"] {
		top: 0px;
		left: 0px;
	}
	[class*="embedVideo-"] [class*="altText-"] {
		display: none;
	}
	[class*="embedFull-"] [class*="embedMedia-"] {
		height: 225px !important;
	}
*/
/* nsfw 채널 설정 */
	[class*="nsfwTag-"] > div {
	  width: 10px;
	  font-size: 0px;
	  border-radius: 16px !important;
	}

/* 프로필 배경 색상 제거 */
  [class*="userPopoutOuter-"] {
    --profile-gradient-primary-color: var(--background-secondary-alt) !important;
    --profile-gradient-secondary-color: var(--background-secondary-alt) !important;
    --profile-gradient-overlay-color: transparent !important;
    --profile-gradient-button-color: var(--button-secondary-background) !important;
    --profile-avatar-border-color: var(--background-secondary-alt) !important;
    --profile-message-input-border-color: var(--background-modifier-accent) !important;
    --profile-body-background-color: var(--background-floating) !important;
    --profile-body-background-hover: var(--background-modifier-hover) !important;
    --profile-body-divider-color: var(--background-modifier-accent) !important;
    --profile-role-pill-background-color: var(--background-secondary-alt) !important;
    --profile-role-pill-border-color: var(--interactive-normal) !important;
    --account-profile-popout-menu-hover: var(--brand-experiment-560) !important;
  }
  [class*="profileColors-"] {
    --profile-gradient-primary-color: var(--background-secondary-alt) !important;
    --profile-gradient-secondary-color: var(--background-secondary-alt) !important;
    --profile-gradient-overlay-color: transparent !important;
    --profile-gradient-button-color: var(--button-secondary-background) !important;
    --profile-avatar-border-color: var(--background-secondary-alt) !important;
    --profile-message-input-border-color: var(--background-modifier-accent) !important;
    --profile-body-background-color: var(--background-floating) !important;
    --profile-body-background-hover: var(--background-modifier-hover) !important;
    --profile-body-divider-color: var(--background-modifier-accent) !important;
    --profile-role-pill-background-color: var(--background-secondary-alt) !important;
    --profile-role-pill-border-color: var(--interactive-normal) !important;
    --account-profile-popout-menu-hover: var(--brand-experiment-560) !important;
  }
