/*
Ctrl + Shift + i
!important
*/

/* 변수 선언 */
	:root {
		--none-color: rgb(255 255 255 / 0%);
		--server-bar: 24;
		--calc-server-bar: calc(1px * var(--server-bar));

		--columns: 2;
		--guildgap: 3;
		--aligndms: 1;
	}
/*
var(변수명);
var(--main-color);
var(--back-color);
var(--none-color);
48. 60.
var(--server-bar);
var(--calc-server-bar);
18. 48.
var(--guildsize);
*/

/* BD */
  [class*="toasts_"] {
      display: none;
  }
  #bd-loading-icon {
      display: none;
  }
    /* > 홈 BD 서버 */
        #bd-pub-button,
        #bd-pub-button:hover {
            color: var(--none-color);
        }
	/* 이미지 파일 정보 */
		[class*="messageAttachment_"] {
			width: auto;
		}
		[class*="altText_"] {
			margin: 0;
		}

/* 디스코드 */
    [class*="expandedFolderIconWrapper_"] path {
        color: #4f545c;
    }
    [class*="reaction_"][class*="reactionMe_"] {
        border-color: #4f545c;
    }

/* 메시지 입력 */
    [class*="barBase_"],
    [class*="channelTextArea_"] {
        max-width: 1000px;
    }
    /* > 메시지 수정하기 */
        [class*="contents_"] [class*="channelTextArea_"] {
            max-width: 944px;
        }
    /* > 니트로 선물 버튼 제거 */
        [aria-label*="선물 보내기"] {
            display: none;
        }

/* 디스코드 홈, 니트로 버튼 */
    [aria-posinset="2"] {
        display: none;
    }
    /* > 친구 */
        [class*="peoplelistItem_"] {
            width: 45%;
            height: 124px !important;
            float: left;
            margin: 0 2.5%;
            border: 0px;
        }
        [class*="text_"] {
            white-space: normal;
            text-overflow:initial;
            /* overflow: initial; */
		min-width: 30px;
        }
        [class*="peoplelistItem_"]:is(
        [class*="active_"],
        :hover) {
            background: none;
            margin: 0 2.5%;
            padding: 0;
            border-top: 1px solid var(--background-modifier-accent);
            border-bottom: 1px solid var(--background-modifier-accent);
            border-radius: 0;
        }
        [class*="userInfo_"] {
            max-width: 70%;
        }
        [class*="px_"] :is(
        [class*="botTagVerified_"],
        [class*="botText_"]) {
            height: 10px;
            line-height: 10px;
        }
		/* > 현재 활동 중 */
		[class*="nowPlayingColumn_"] {
			min-width: 420px;
		}

/* 서버 사이드바 */
    /* > 종합 */
        [class*=wrapper_] > ul [class*="listItem_"] {
            margin: 0 0 5px;
        }
	[aria-label="서버"] [class*="listItem_"],
	[aria-label="Servers"] [class*="listItem_"] {
		width: 24px;
		padding: 0 6px;
	}
	[class*="listItem_"],
	[class*=tutorialContainer_]
	[class*=wrapper_] [class*=scroller_] [style*=height] {
	    max-width: 100%;
	    float: left;
	}
	[class*="pill_"] [class*="wrapper_"] {
		height: var(--calc-server-bar);
	}
	[class*="guilds_"] [class*="scrollerBase_"] > [style*="height: 56px;"] {
		height: var(--calc-server-bar) !important;
}
/*
	[class*="wrapper_"] [class*="wrapper_"] {
	    height: unset !important;
	    margin: 0 2px;
	}
*/
    [class*=listItem_] {
	    margin-bottom: 2px;
	}
    /* > 폴더 */
	[aria-label="서버 사이드바"] [class*="svg_"],
	[class*="listItemWrapper_"] > [class*="wrapper_"],
	div > [draggable="true"] > [class*="wrapper_"] {
	    width: var(--calc-server-bar);
	    height: var(--calc-server-bar);
	}
	[class*="listItem_"] [class*="pill_"] {
	    height: var(--calc-server-bar);
	}
	[class*=expandedFolderBackground_] {
	    width: var(--calc-server-bar);
	    background-color: #fff0;
	}
	[class*="folderIconWrapper_"] {
	    background-color: transparent !important;
	}
    /* > 폴더 내 */
	[id*="folder-items-"] {
	    height: unset !important;
	}
    /* > 폴더 외 */
	/* guild & button */
	[class*="wrapper_"] :is(
		#bd-pub-li,
		#bd-pub-li #bd-pub-button,
		#sort-button,
		#sort-button > div
		) {
		height: calc(1px * ((var(--server-bar)/5) + 10));
	}
	[class*="wrapper_"] :is(
		#bd-pub-li,
		#sort-button
		) {
		width: calc(
			1px * (
				(var(--server-bar)*4/5) + 12 * var(--server-bar)/50)
		);
	}
	[class*="wrapper_"] :is(
		#bd-pub-li,
		#sort-button
		) {
		text-align: center;
		margin: calc(1px * var(--guildgap)) calc(1px * (((
		var(--server-bar) + 12 * var(--server-bar)/50) * (
		    var(--columns) - 1) - ((
					var(--server-bar)*4/5
					) + 12 * var(--server-bar)/50) + var(--server-bar))/2)) 
		calc(1px * var(--guildgap)) calc(1px * (((
		    var(--server-bar) + 12 * var(--server-bar)/50) * (
					var(--columns) - 1) - ((
			var(--server-bar)*4/5) + 12 * var(--server-bar)/50) + 
		    var(--server-bar))/2)
		) !important;
	}
	html [class*=typingindicator_] {
		right: 3px !important;
		top: calc(var(--server-bar) * 1px - 5px) !important;
		bottom: unset !important;
	}

/* 서버 */
	/* 종합 */
		[class*="sidebar_"] [class*="header_"] {
			padding: 8px;
		}
		[class*="sidebar_"] [class*="header_"],
		[class*="searchBar_"],
		[class*="chat_"] > [class*="title_"] {
			max-height: 40px;
		}

    /* > 채널 */
	[class*="container_"] > [class*="scroller_"] > [class*="content_"] {
		padding: 8px 0 0 0 !important;
        }
	[class*="containerDefault_"],
	[class*="containerDefault_"] [class*="iconItem_"],
	[class*="containerDragAfter_"],
	[class*="containerDragBefore_"],
	[class*="containerUserOver_"],
	[class*="mainContent_"] {
		padding: 2px 0 !important;
        }
	[class*=content_] > [style*="height: 16px"] {
		display: none;
	}
		/* >> 스크롤 숨기기 */
			div#channels::-webkit-scrollbar {
				display: none;
			}
        /* >> 채팅 채널 */
            :is(
            [class*="modeConnected_"],
            [class*="modeConnected_"]:hover,
            [class*="modeSelected_"],
            [class*="modeSelected_"]:hover,
            [class*="modeUnread_"],
            [class*="modeUnread_"]:hover,
            [class*="notInteractive_"]:is(
            [class*="modeConnected_"],
            [class*="modeSelected_"])) .name-23GUGE {
                color: var(--channels-default);
            }
        /* >> 음성 채널 */
		[class*="channelInfo_"] {
			margin: 0;
		}
            [class*="liveSmall_"] {
                width: 10px;
                font-size: 0px;
            }
    /* > 멤버 목록 */
        [class*="membersWrap_"] [class*="members_"] {
            width: 525px;
        }
        [class*="member_"] {
            max-width: 500px;
        }
        /* >> 멤버 정보 */
            [class*="userPopout_"] {
                width: 500px !important;
            }
        /* >> 역할 구분 */
            [class*="membersGroup_"] {
                padding: 8px 8px 0 16px;
                height: 24px;
            }
		/* >> 하는 중 */
		.UserDetails-activity-container img {
			border-radius: 100%;
		}

/* 고정 메시지 */
[class*="messagesPopoutWrap_"] {
    width: 600px;
}

/* 검색 */
	[class*="searchResultsWrap_"] {
	    width: 520px;
	}
	/* 뒤로가기 및 다음 문구 제거 */
		[class*="contents_"][class*="endButtonInner_"] > span {
			display: none;
		}

/* 메시지 보내기 하단 문구 제거 */
	[class*="applicationCommandEducationFadeIn_"] {
	    display: none;
	}
/* 이모티콘 */
	/* > 종합 */
		img[class*="pngImage_"][class*="stickerAsset_"],
		.emoji.jumboable {
			border-radius: 5px;
		}
    /* > 이모티콘 선택 */
/*		[role="dialog"][aria-label="표현 선택기"],*/
		[role="dialog"][class*="contentWrapper_"],
		[class*="emojiPicker_"],
		[class*="drawerSizingWrapper_"] {
			width: 800px !important;
			/*height: 1000px !important;*/
		}
    /* > 이모티콘 표시 */
		.emoji.jumboable {
			width: 5rem;
			height: 5rem;
		}
/* 반응 */
	[class*="reaction_"] .emoji {
		width: 3rem;
		height: 3rem;
	}
    /* > 반응했어요 툴팁 */
        [class*="reactionTooltipText_"] {
            margin: 0 12px;
        }
/* 설정 */
	/* 버튼 효과 */
		[class*="buttonShine_"] {
			display: none;
		}

/* 사용자 설정 */
    /* > 사이드바 */
        nav[class*="sidebar_"] [class*="item_"] {
             line-height: 7px;
        }
        nav[class*="sidebar_"] [class*="flex_"] {
            height: 7px;
        }
        nav[class*="sidebar_"] {
            padding: 20px 0px 20px 20px;
        }
    /* > 계정 제거 기능  */
        [class*="children_"] [class*="buttonContainer_"] {
            display: none;
        }
    /* > 구독 아이콘 숨기기 */
        .icon-Zc-uZZ {
            display: none;
        }
    /* > 디스코드 소셜 링크 숨기기 */
        [class*="socialLinks_"] {
            display: none;
        }
    /* > 버전 정보 숨기기 */
        [class*="sidebar_"] [class*="info_"] {
             display: none;
        }

/* 팝업 */
    div[id*="popout_"] {
        left: calc(1px * (
            var(--server-bar) * var(--columns)
            + 12 * var(--columns)
            + 240
            )) !important;
        right: auto !important;
    }
    /* > 미니 팝업 */
        [class*="layer_"] [class*="userPopout_"],
        [class*="popoutBanner_"] {
            min-width: 500px !important;
        }
        /* >> 연결 버튼 */
            [class*="connectedAccount_"] {
                width: 100%;
            }
		[class*="connectedAccountsColumn_"] {
		  width: 45%;
		}
		[class*="connectedAccountContainer_"] {
		  width: 100%;
		}

	/* >> 이름 태그 */
		[class*="topSection_"] [class*="nameTag_"] {
			margin-top: 60px;
		}
	/* 팝업 */
		/*
[class*="focusLock_"] [class*="small_"] {
			width: 600px;
		}
*/
			
/* 서버 부스트 바 */
	[class*=goalTextContainer],
	[class*=progressFraction] {
	    display: none;
	}
	[class*=sidebar_] [class*=textArea] {
	    height: 8px;
	    margin: 0px;
	}

/* 음성채널 역할 아이콘 */
	.draggable-2E_4tJ .ownerIcon-2NH9FM {
	    margin: 0;
	    display: none;
	}

/* 스레드 들여쓰기 숨김 */
	[class*=spine_] {
		display: none;
	}

/* 임베드 미리보기 재조정 */
/*
	[class*="embedVideoImageComponent_"],
	[class*="embedVideoImageComponentInner_"] {
		top: 0px;
		left: 0px;
	}
	[class*="embedVideo_"] [class*="altText_"] {
		display: none;
	}
	[class*="embedFull_"] [class*="embedMedia_"] {
		height: 225px !important;
	}
*/
/* nsfw 채널 설정 */
	[class*="nsfwTag_"] > div {
	  width: 10px;
	  font-size: 0px;
	  border-radius: 16px !important;
	}

/* 프로필 배경 색상 제거 */
  [class*="userPopoutOuter_"] {
    --profile-gradient-primary-color: var(--background-secondary-alt) !important;
    --profile-gradient-secondary-color: var(--background-secondary-alt) !important;
    --profile-gradient-overlay-color: transparent !important;
    --profile-gradient-button-color: var(--button-secondary-background) !important;
    --profile-avatar-border-color: var(--background-secondary-alt) !important;
    --profile-message-input-border-color: var(--background-modifier-accent) !important;
    --profile-body-background-color: var(--background-floating) !important;
    --profile-body-background-hover: var(--background-modifier-hover) !important;
    --profile-body-divider-color: var(--background-modifier-accent) !important;
    --profile-role-pill-background-color: var(--background-secondary-alt) !important;
    --profile-role-pill-border-color: var(--interactive-normal) !important;
    --account-profile-popout-menu-hover: var(--brand-experiment-560) !important;
  }
  [class*="profileColors_"] {
    --profile-gradient-primary-color: var(--background-secondary-alt) !important;
    --profile-gradient-secondary-color: var(--background-secondary-alt) !important;
    --profile-gradient-overlay-color: transparent !important;
    --profile-gradient-button-color: var(--button-secondary-background) !important;
    --profile-avatar-border-color: var(--background-secondary-alt) !important;
    --profile-message-input-border-color: var(--background-modifier-accent) !important;
    --profile-body-background-color: var(--background-floating) !important;
    --profile-body-background-hover: var(--background-modifier-hover) !important;
    --profile-body-divider-color: var(--background-modifier-accent) !important;
    --profile-role-pill-background-color: var(--background-secondary-alt) !important;
    --profile-role-pill-border-color: var(--interactive-normal) !important;
    --account-profile-popout-menu-hover: var(--brand-experiment-560) !important;
  }
