/*
@import url("https://yuhannakr.github.io/tgd/2/custom.css");
*/
/* 중요 */
    @font-face {
        font-family: 'TmoneyRoundWindRegular';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindRegular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    /* > 변수 선언 */
        :root{
            --none-color: rgb(255 255 255 / 0%);
            --black : #000000;
            --theme-black : #111111;
            --theme-light-yellow : #FFF0B8;
            --theme-yellow : #FFEA9D;
            --theme-brown : #381D09;
            --theme-white : #ffffff;
            --border-radius: 10px;
            --profile-img: 100;
            --calc-profile-img-px: calc(1px * var( --profile-img ));
            --calc-profile-img-plus: calc(1px * (var( --profile-img ) + 30));
        }
/* //중요 */

/* 변수
var( --none-color );
var( --theme-brown );
var( --theme-white );
var( --border-radius );
var( --profile-img );
var( --calc-profile-img-px );
var( --calc-profile-img-plus );
*/

/* 즐겨찾기 목록 */
    #board-info :is(
        #viewers-area,
        #score-area) {
            font-size: 14px;
            color: var( --theme-brown );
            font-weight: normal;
            vertical-align: middle;
            line-height: 18px;
            display: inline-block;
    }

/* 드롭다운 전환 */
    .dropdown.open .dropdown-menu,
    .input-group-btn.open .dropdown-menu {
        opacity: unset;
        transform: unset;
        border: 2px solid var( --theme-brown );
        border-radius: 10px;
        box-shadow: 0 2px 2px rgba(0,0,0,.3);
    }
    .dropdown .dropdown-menu,
    .input-group-btn .dropdown-menu {
        display: block !important;
        opacity: 0;
        transform: scale(0);
        transform-origin: top;
        transition: all 0.3s cubic-bezier(0.2, 1.5, 0, 1);
        padding: 8px 0 3px 0px;
    }
    .dropdown-menu>li>a {
        transition: .1s;
    }
    .dropdown-menu>li>a:hover {
        background: transparent;
        transform: scaleX(1.04);
        transition: .1s;
    }
    .label-default {
        background-color: var( --theme-brown );
    }

/* 레이아웃 */
    html{
        height: auto !important
    }
    /* > 종합 */
        header #header-bar>.row,
        #main :is(
            .menu-wrapper,
            #main-content>div.frame) {
                border: 0px !important;
        }
    /* > 헤더 */
        header{
            padding-top: 15px !important;
            padding-bottom: 0px !important;
        }
        header #header-bar {
            margin-bottom: 1.5em;
        }
        header #header-bar>.row {
            border-radius: var( --border-radius );
            border-top: 5px solid var( --theme-brown );
            background: var( --theme-brown );
        }
        header > .container > .row > .col-xs-4 > a > img {
            content: url(https://cdn.discordapp.com/attachments/830039497730949140/831467790887288842/3.png);
        }
    /* > 좌측 레이아웃 */
        #main .menu-wrapper>.header {
            border-radius: var( --border-radius ) var( --border-radius ) 0 0;
        }
        #main .menu-wrapper>a {
            padding: .7em 1.4em .3em 0.7em;
        }
        #main .menu-wrapper>a>em {
            color: var( --theme-brown );
        }
        #main .menu-wrapper .spacer {
            background: var( --theme-brown );
            height: .25em;
        }
        a.shortcut-link:last-child {
            border-radius: 0 0 var( --border-radius ) var( --border-radius );
        }
    /* > 우측 레이아웃 */
        #main #main-content>div.frame {
            padding: 10px;
            border-radius: var( --border-radius );
        }
        #article-option-area-toggle-btn{
            display: none !important;
        }
        #article-list {
            padding: 0 0em 2em;
        }
        #article-list > div {
            background: var( --theme-white );
        }
        #article-list #article-list-category,
        #article-list>.article-list-row {
            margin: 10px 0;
            border: 2px solid var( --theme-brown );
            border-radius: var( --border-radius );
        }
        #article-list>.article-list-row.notice {
            background-color: var( --theme-light-yellow );
        }
        #article-list>.article-list-row.notice:hover,
        #article-list>.article-list-row.hot:hover {
            background-color: var( --theme-white );
        }
        #article-list>.article-list-row.hot {
            background-color: var( --theme-yellow );
        }
        #article-list :is(
            #article-list-category,
            #article-list-category>a) {
                background: var( --theme-white );
                border-radius: var( --border-radius );
        }
        #article-list>.article-list-row>.item>.list-header>span {
            background : var( --theme-brown );
        }
        #article-list>.article-list-row>.item>.list-title>small.comment-count {
            color : var( --theme-brown );
        }
        #article-list>.article-list-row:hover {
            transform: scale(1.10);
            transition: .20s;
        }
        #article-list>.article-list-row>.item> :is(
            .list-checkbox,
            .list-header,
            .list-category,
            .list-title,
            .list-blocked,
            .list-time) {
                border-bottom: 0px;
        }
        /* >> 내용 */
            #board-info {
                height: var( --calc-profile-img-plus );
                background: var( --theme-white );
                border: 2px solid var( --theme-brown );
                border-radius: var( --border-radius );
            }
            #board-info-profile-img{
                float: left !important;
                margin-right: 10px;
            }
            #board-info #board-info-bottom :is(
                a,
                a:hover),
                #board-info h1>a:hover {
                color: var( --theme-brown );
            }
            #board-info #board-info-profile-img {
                border-radius: 60%;
                width: var( --calc-profile-img-px );
                height: var( --calc-profile-img-px );
                position: absolute;
                /*
                top: -15px;
                left: 5px;
                */
            }
            #board-info h1 {
                margin-left: var( --calc-profile-img-plus );
                font-size: 24px;
                vertical-align: top;
                padding-bottom: 3px;
                border-bottom: 1px solid #e2e2e2;
            }
            #board-info #board-info-bottom {
                padding-top: 3px;
                margin-left: var( --calc-profile-img-plus );
            }
            #board-info #viewers-area #viewers::before {
                content: '쿠키 ';
                background: url("https://cdn.discordapp.com/attachments/830039497730949140/833229861363253279/3_72x72.png") no-repeat;
                padding-left:18px;
                background-size:auto 16px;
            }
            #board-info #viewers-area #viewers::after {
                content: '개 굽는 중';
            }
            .fa-user:before {
                display:none;
            }
            #board-info #board-info-profile-img:hover {
                transform: scale(1.10);
                transition: .20s;
            }
        /* >> 하단 */
            #article-list #article-list-menu{
                margin: 0;
                height: auto;
                padding: 20px;
            }
            #article-list #article-list-menu>.btn.best {
                left: 20px;
            }
            #article-list #article-list-menu>.btn.cog {
                left: 110px;
            }
            #article-list #article-list-menu>.btn.del {
                left: 190px;
            }
            .pagination{
                margin: 4em 0 1em;
            }
            #article-list #boardSearchForm {
                margin: 5em auto 0;
            }
    /* > 종합 */
        .btn-default,
        span.a-badge i.fa.fa-info-circle,
        a,
        a:hover {
            color: var( --theme-brown );
        }
/* //레이아웃 */

/* 게시글 */
    #article-content-wrapper>.header {
        border-top: 2px solid var( --theme-brown );
    }
    #article-reply-area>.header h5 {
          color: var( --theme-brown );
    }
    :is(
        #article-reply-area #reply-real-area,
        #article-reply-area #reply-best-area
    )
        .reply>.reply-header>.reply-writer.logged {
          color: var( --theme-brown );
    }
    .fr-toolbar .fr-command.fr-btn, .fr-popup .fr-command.fr-btn {
          color: var( --theme-brown );
    }
    .fr-toolbar {
    border-top: 5px solid var( --theme-brown );
    }
    .btn-primary {
          background-color: var( --theme-brown );
          border-color: var( --theme-brown );
    }
    #article-list>.article-list-row.active {
          background-color: var( --theme-light-yellow );
    }
/* //게시글 */

/* 색상 변경 (-> 갈색) */
    header #right-search-form>input[type=text] {
          border: 3px solid var( --theme-brown );
    }
    header #right-search-form>#right-search-btn,
    #article-list>.article-list-row>.item>.list-title>.list-writer.logged>span {
          color: var( --theme-brown );
    }
    header #header-bar #header-top-notice strong.notice-badge {
          display: none;
    }
    #main .menu-wrapper>.header {
          background: var( --theme-brown );
    }
    .write{
          background-color : var( --theme-brown );
    }
    .write:hover{
          background-color : var( --theme-brown ) !important;
    }

/* 색상 변경 (-> 갈색) */
    #board-info #viewers-area, #board-info #score-area {
          color: var( --theme-brown );
    }

/* 색상 변경 중첩 (#fff) */
    header #header-bar :is(
        a.dropdown-toggle,
        #header-top-notice a) {
        color: var( --theme-white );
    }

/* 배경 애니메이션 */
body {
    background: var( --theme-light-yellow );
    animation: snow 20s linear infinite;
    background-image: 
    url(https://cdn.discordapp.com/attachments/830039497730949140/831506910452776990/2.png);
}
@keyframes snow {
      0% {background-position: 0px 0px;}
      50% {background-position: 300px 300px;}
      100% {background-position: 512px 512px;}
}
/* //배경 애니메이션 */

/* 인기글 별 */
span.a-badge i.fa.fa-star {
    -webkit-transform-origin:50% 50%;
    transform-origin:50% 50%;
    -webkit-animation:ROT360 2s ease-in-out infinite;
    animation:ROT360 2s ease-in-out infinite;
}
@-webkit-keyframes ROT360 {
    0% {
        -webkit-transform:rotate(0deg);
    }
    100% {
        -webkit-transform:rotate(360deg);
    }
}
@keyframes ROT360 {
    0% {
            transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}

/* 페이지 숫자 */
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: var( --theme-brown );
    border-color: var( --theme-brown );
}
.pagination>li>a, .pagination>li>span {
    color: var( --theme-brown );
}

/* 상단 이동 이미지 설정 */
#movetotop{
         opacity : 1;
         height : 160px;
         content: url(https://cdn.discordapp.com/attachments/830039497730949140/831470179425845258/7.png);
}
