/* 변수 선언 */
:root {
--main-color: #004b49;
--back-color: rgb(0 75 73 / 50%);
--none-color: rgb(255 255 255 / 0%);
--main-logo: url(https://cdn.discordapp.com/attachments/890951019683536917/891263492592660490/image0.png);
}
/*
var(변수명);
var(--main-color);
var(--back-color);
var(--none-color);
var(--main-logo);
*/

/* 해상도 제한 */
@media (min-width: 721px) {
    /* 종합 */
    
    /* 배경 */
    body {
        background: var(--main-color);
        height: max-content;
        /*
        animation: snow 20s linear infinite;
        background-image: url();
        */
    }
    
    /* 상단 이동 */
    #movetotop {
    opacity: 1;
        height: 160px;
        content: url(https://cdn.discordapp.com/attachments/890951019683536917/890963084766773279/image0.png);
    }

    /* 메인 내용 */
        /* > 공지 숨기기 교정 */
        #article-list #article-option-area>#article-option-area-toggle-btn {
        position: relative;
            right: 14px;
        }
}
@media (max-width: 720px) {
    /* 종합 */
    header {
        background: var(--main-color);
        border-bottom: 4px solid var(--back-color);
    }
    /* 본문 카테고리 스크롤 *//*
    #article-list #article-list-category::-webkit-scrollbar {
        display:none;
    }*/
}

/* 종합 */
    /* > var(--main-color); */
        #article-list>.article-list-row>.item>.list-title>.list-writer.logged>span,
        #article-list>.article-list-row>.item>a.list-title>.list-writer.logged>span {
            color: var(--main-color);
        }
        #article-list>.article-list-row>.item>.list-header>span {
            background: var(--main-color);
        }
    /* > var(--back-color); */
        :is(header #header-bar, *) #header-top-notice strong.notice-badge,/*
        #header-top-notice strong.notice-badge,*/
        #main .menu-wrapper>.header,
        #article-list #article-list-category> :is(a.active, a:hover) {
            background: var(--back-color);
        }
        header #header-bar>.row {
            border-top: 5px solid var(--back-color);
        }
        header #right-search-form>input[type=text] {
            border: 3px solid var(--back-color);
        }
    /* > var(--none-color); */
        #article-list #article-list-category>a {
            background: var(--none-color);
        }
    /* > 묶음 */
        #article-list #article-list-category {
            border-top: 2px solid var(--main-color);
            border-bottom: 2px solid var(--main-color);
            background: var(--none-color);
        }

/* 배경 */
    /* > 좌측 메뉴 */
    #main .menu-wrapper {
    background: #fff;
    }

/* 로고 */
header > .container > .row > .col-xs-4 > a > img,
header > #header-area > a > h1 {
    content: var(--main-logo);
    background: var(--main-logo);
    max-width: 200px;
}
/* 검색 */
header #right-search-form>#right-search-btn,
header>#header-area>#header-search-link {
    color: #fff;
}
